body {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#vis {
    display: flex;
    justify-content: center;
}
.bar {
    margin-top: 3em;
    overflow: visible;
    margin-left: 3em;
}

.buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.buttons section {
    width: 80%;
    text-align: center;
}
button {
    height: 3em;
    width: 12em;
    margin: 1em 3em;
    background-color: #ffffff;
    border: 1px solid #575757;
    color: #575757;
}
#NH, #ZH, #UT, #OV, #NB, #LB, #ZL, #GD{
    background-color: black;
}